*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

a,
a:hover,
a:visited,
a:active {
	color: #000;
	text-decoration: none;
}

.menu-bar {
	display: flex;
	background-color: #3C3A39;
	color: #fff;
	height: 92px;
	align-items: center;
}

.menu-bar a {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0 30px;
	flex: 1;
	display: flex;
}

.menu {
	justify-content: flex-end;
}

.intro {
	display: flex;
	background-color: #1C1A19;
	background-image: url("../images/background@2x.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: auto 250px;
	height: 590px;
}