*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-accent: #e05304;
  --color-text: #091e42;
  --color-negative: #fff;
  --bgr-negative: #1c1a19;
  --color-pressed: #ff6b00;
  --color-disabled: #5b5957;
  --color-menu: #3c3a39;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  color: var(--color-text);
}

p,
ul,
a,
button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

ul {
  padding: 0;
}

button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  appearance: none;
  background-color: #fbf8f7;
}

h1,
h2,
h3 {
  font-family: "Crete Round", serif;
  font-weight: 400;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

main {
  padding: 7.5rem 0;
  display: flex;
  flex-direction: column;
}

main > * {
  padding: 0 10%;
}

main h2 {
  font-size: 2.5rem;
}

main hr {
  width: 100%;
  margin-bottom: 5rem;
  margin-top: 2.5rem;
}

.menu-bar {
  display: flex;
  background-color: var(--color-menu);
  color: var(--color-negative);
  height: 5.75rem;
  align-items: center;
  padding-right: 1.25rem;
}

.menu-bar a {
  color: var(--color-negative);
  font-size: 1.125rem;
  margin: 0 2rem;
  flex: 1;
  display: flex;
}

.intro {
  display: flex;
  background-color: var(--bgr-negative);
  background-image: url("../images/background@2x.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 15.625rem;
  height: 37rem;
  color: var(--color-negative);
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  row-gap: 0.6rem;
}

.intro h1 {
  color: var(--color-accent);
  font-size: 3.5rem;
  font-family: "Crete Round", serif;
  animation-name: blur;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.intro h2 {
  color: var(--color-negative);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  opacity: var(--p);
  animation-name: blur-white;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.intro p,
.about-head p {
  color: var(--color-negative);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.intro p {
  animation-name: blur-white;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.intro ul,
.social-links {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro li,
.social-links li {
  height: 1.25rem;
}

.languages {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 0.75rem;
}

.languages li {
  border-style: solid;
  border-color: #8993a4;
  border-width: 1px;
  padding: 0.75rem;
  font-weight: 500;
}

a.button,
button {
  padding: 0.75rem;
  color: var(--color-negative);
  background: none;
  background-color: var(--color-accent);
  text-align: center;
  border: none;
  transition-duration: 0.4s;
  font-weight: 600;
  font-size: 1.125rem;
}

a.button:hover,
button:hover {
  background-color: var(--color-negative);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

a.button:active,
button:active {
  background-color: var(--color-pressed);
  color: var(--color-negative);
  border: 1px solid var(--color-pressed);
}

a.button:disabled,
button:disabled {
  background-color: var(--color-negative);
  color: var(--color-disabled);
  border: 1px solid var(--color-disabled);
  padding: 0.75rem;
}

.fs {
  align-self: flex-start;
  margin-bottom: 7.5rem;
}

#projects {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
  padding-bottom: 7.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition-duration: 0.4s;
  background: none;
  min-height: 24rem;
  color: var(--color-negative);
}

.project:hover {
  transform: scale(1.05);
}

.project h2,
.project p,
.project ul {
  color: var(--color-negative);
  padding-left: 10%;
  padding-right: 10%;
}

.project1,
.project4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../images/placeholder@2x.png");
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
}

.project2,
.project5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../images/placeholder2.png");
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
}

.project3,
.project6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../images/placeholder3.png");
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
}

#about-me {
  display: flex;
  flex-direction: column;
  color: var(--color-negative);
  background: none;
  background-color: var(--bgr-negative);
  padding: 7.5rem 0;
}

.about-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;
  background-color: var(--bgr-negative);
  background-image: url("../images/about-me-background.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 15.625rem;
  min-height: 37rem;
  padding-left: 10%;
  padding-right: 10%;
}

.about-head h2 {
  color: var(--color-accent);
  width: 17rem;
  font-size: 3.7rem;
  font-family: "Crete Round", serif;
  overflow: hidden;
  border-right: 3px solid transparent;
  white-space: nowrap;
  animation-name: typewriter, cursor;
  animation-duration: 2s, 0.75s;
  animation-timing-function: steps(24, end), step-end;
  animation-iteration-count: 15, infinite;
}

#about-me hr {
  width: 100%;
}

.about-skills {
  font-size: 2rem;
  text-align: center;
  list-style: none;
  line-height: 2;
}

.about-skills li > span {
  color: var(--color-accent);
}

.about-list {
  list-style: none;
  padding: 0;
  padding-left: 2.65rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2;
}

#featured-project {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.featured-image {
  padding: 4rem;
  background-color: var(--color-pressed);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#highlighted-image,
#project-image {
  box-shadow: 0 0 5rem var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  justify-content: space-between;
}

#featured-project h2 {
  font-size: 2.25rem;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-bottom: 7.5rem;
}

form > input,
form > textarea {
  font-family: "Inter", sans-serif;
  border: none;
  border-bottom: var(--color-disabled) solid 1px;
  padding: 0.75rem;
  font-size: 1rem;
}

#message {
  border: none;
}

#contact-form {
  padding-top: 7.5rem;
}

#contact-form h2 {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

#contact-form > form > button {
  align-self: center;
}

nav {
  width: 0;
}

#navigation-links #envelope {
  display: inherit;
}

#navigation-links {
  transform: translateX(100%);
  transition-duration: 0.2s;
  transition-property: transform;
  list-style: none;
  margin: 0;
  padding: 0;
}

#end > .social-links {
  justify-content: center;
}

.hidden {
  display: none;
}

#white-bar {
  display: none;
}

/* Animations */
@keyframes blur {
  from {
    color: transparent;
    text-shadow: 0 0 2rem var(--color-accent);
  }

  to {
    color: var(--color-accent);
    text-shadow: none;
  }
}

@keyframes blur-white {
  from {
    color: transparent;
    text-shadow: 0 0 0.75rem var(--color-negative);
  }

  to {
    color: var(--color-negative);
    text-shadow: none;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 17rem;
  }
}

@keyframes cursor {
  from {
    border-color: transparent;
  }

  50% {
    border-color: var(--color-accent);
  }

  to {
    border-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  #menu,
  #menu:hover,
  #menu:active {
    justify-content: flex-end;
    width: 1.125rem;
    border: none;
    background-color: transparent;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #menu.menu-active {
    background-image: url(../images/close.svg);
  }

  #navigation-links.nav-active {
    position: absolute;
    display: flex;
    transition: transform 0.2s;
    transform: translateX(0);
    flex-direction: column;
    align-content: center;
    inset: 5.75rem 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-menu);
  }

  #navigation-links.nav-active .nav-link {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3;
    border-bottom: 1px solid #6f6c6b;
    padding-left: 1.25rem;
  }

  #envelope.active {
    visibility: hidden;
  }

  #logo.hidden {
    visibility: hidden;
  }

  #white-bar.active {
    display: block;
    background-color: var(--color-negative);
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
  }

  #white-bar.active > span {
    content: "";
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #000 solid 3px;
    width: 30%;
  }

  nav.active {
    width: auto;
  }

  header.active {
    position: fixed;
    width: 100%;
  }
}

.modal-container {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(0.4rem);
  backdrop-filter: blur(0.4rem);
  inset: 0 0;
  width: 100vw;
  height: 100vh;
  padding: 5% 0;
  margin: 0;
  overflow: scroll;
}

.modal {
  background-color: #fff;
  width: 90vw;
  height: auto;
  padding: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  justify-self: flex-end;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  font-size: 1.75rem;
  font-weight: 500;
  color: #67798e;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
}

#live-link {
  background-image: url(../images/see-live.svg);
}

#source-link {
  background-image: url(../images/github.svg);
}

#live-link,
#source-link {
  font-size: 1rem;
  font-weight: 700;
  padding-right: 2.25rem;
  background-position: 90%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

#live-link:hover {
  background-image: url(../images/see-live-orange.svg);
}

#source-link:hover {
  background-image: url(../images/github-orange.svg);
}

.form-error {
  display: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--color-negative);
  background-color: var(--color-accent);
  padding: 0.625rem;
  text-align: center;
  align-content: center;
}
